{% extends "standard.njk" %}
{% block content %}
    <div class="fof">
        <div class="fof-title">
            <span>4</span><span>0</span><span>4</span>
        </div>
        <div class="fof-message">
            Art thou lost bro?
        </div>
        <a href="/">
            <button onclick="" class="fof-button" name="home">
                Home
            </button>
        </a>

    </div>
{% endblock %}
