{% extends "standard.njk" %}
{% block content %}
    <div class='about'>
        <h1>Shane Robbins</h1>
        <div class='about-box'>
            <h2>Who</h2>
            <p>Hi I’m Shane. I'm a full stack developer with a passion for workflow optimization and automation. In my free time I enjoy curating music and exploring planet earth.</p>
        </div>
        <div class="divider">

        </div>
        <div class='about-box'>
            <h2>What I do</h2>
            <p>From natural language processing to complex frontend animation, I'm constantly amazed by today's technological ecosystem. Although I'm a firm beleiver in using reliable, battle tested software, I love to experiment and search for new tools and workflows that increase productivity and make new projects do more for less. I tend to write software within the Node.js ecosystem, but ultimately would rather use the right tool over the tool I like. </p>
        </div>
        <div class="endbar">
            <a href='./contact' class="endbar-text">Get in Touch.</a>
        </div>
    </div>
{% endblock %}
